name: Trigger Fixture Regeneration

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types:
      - labeled

jobs:
  regenerate_fixtures:
    if: github.event.label.name == 'regenerate-fixtures'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.TESTER_FIXTURE_GENERATION_GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - uses: actions-ecosystem/action-create-comment@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            Triggered a [Github Actions](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) job to update fixtures.

      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: regenerate-fixtures

      - name: Setup git config
        run: |
          git config --global user.email "hello@codecrafters.io"
          git config --global user.name "codecrafters-bot"
          git remote set-url origin https://codecrafters-bot:${{ secrets.TESTER_FIXTURE_GENERATION_GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git fetch origin ${{ github.head_ref }}
          git checkout ${{ github.head_ref }}

      - name: Regenerate Fixtures
        run: ./docker_test/docker_test.sh record_fixtures

      - name: Update Fixtures
        run: |
          git diff --quiet || (git add . && git commit -m "CI: Add regenerated fixtures" && git push)
