name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      # TODO: Generalize using docker container across all testers
      # Right now, we just use the docker test for recording fixtures and testing manually in this repo
      - name: Run tests (Docker)
        run: ./local_testing/docker_test.sh tests_excluding_ash

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: "2025.1.1"
          install-go: false

  test-all-shells:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Alpine
        uses: jirutka/setup-alpine@v1
        with:
          branch: v3.22 # Pinning because dash on newer versions comes with more bugs

      - name: Setup Alpine dependencies
        run: |
          cat /etc/alpine-release
          apk add git go make bash dash zsh binutils-gold python3
        shell: alpine.sh --root {0}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup git config
        run: |
          git config --global --add safe.directory /home/runner/work/shell-tester/shell-tester
          # repo is owned by user and we intend to execute as root
        shell: alpine.sh --root {0}

      - name: Run tests against all shells on alpine
        run: |
          make test_ash
          make test_bash
          make test_dash
        shell: alpine.sh --root {0}

      - name: setup-ubuntu-env
        run: |
          sudo apt install zsh
          sudo apt remove bpfcc-tools
          zsh --version

      - name: Run zsh tests with proper terminal setup
        run: |
          sudo make test_zsh
        shell: bash

  test-alpine:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Alpine
        uses: jirutka/setup-alpine@v1
        with:
          branch: latest-stable

      - name: Setup Alpine dependencies
        run: |
          cat /etc/alpine-release
          apk add git go make bash dash zsh binutils-gold python3
        shell: alpine.sh --root {0}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup git config
        run: |
          git config --global --add safe.directory /home/runner/work/shell-tester/shell-tester
          # repo is owned by user and we intend to execute as root
        shell: alpine.sh --root {0}

      - name: Run tests against bash & ash on alpine
        run: |
          make test
        shell: alpine.sh --root {0}

  test-flakiness:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - name: setup-env
        run: |
          sudo apt remove bpfcc-tools
          bash --version
          uname -a
          compgen -ac | sort | grep '^ex'

      - run: TEST_TARGET=test_bash RUNS=25 make test_flakiness

  test-memory-limit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - run: TESTER_DIR=$(pwd) go test -count=1 -p 1 -v ./internal/shell_executable/... -run TestMemoryLimit
